*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
 background-position: center;

background-size: cover;




}

.respuesta{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  

  
}

main{
  margin-top: 10%;


}

nav{
  background-color: #78C2AD;
  width: 100%;
  height: 12%;
  border-radius:0px 0px 10px 10px; 

  box-shadow: 2px 2px 2px 2px black;
 
}

nav h3{
 
  width: 70%;
  text-decoration: underline;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 0 black;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
footer button{
  margin-top: 20px;
  width: 50%;
}

.img{
  width: 70%;
}