*{
  margin: 0;
  padding: 0;
}

body{
 background-image: url('fondo_2.jpg') ;
 background-position: center;

background-size: cover;




}

.respuesta{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  

  
}

main{
  margin-top: 10%;


}

footer{
  background-color: #78C2AD;
  width: 100%;
  height: 12%;
  border-radius:10px 10px 0 0; 

  box-shadow: 2px 2px 2px 2px black;
  position: absolute;
  bottom: 1px;
}

footer button{
  margin-top: 20px;
  width: 50%;
}

.img{
  width: 70%;
}