*{
    margin: 0;
    padding: 0;
  }
  
  body{
   background-image: url('fondo_2.jpg') ;
   background-position: center;
  
  background-size: cover;
  
  
  
  
  }
  
  .respuesta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
  }
  
  main{
    margin-top: 10%;
  
  
  }
  
  footer{
    background-color: #78C2AD;
    width: 100%;
    height: 12%;
    border-radius:10px 10px 0 0; 
  
    box-shadow: 2px 2px 2px 2px black;
    position: absolute;
    bottom: 1px;
  }
  
  footer h3{
    margin-top: 20px;
    width: 70%;
    text-decoration: underline;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0 black;
    
  }
  
  .img{
    width: 70%;
    border-radius:10px;
    border: solid black;
  }

  #secuencia{
      margin-top: 60px;
      
  }

  #secuencia button{
      margin-top: 80px;
  }
  #img{
    width: 120px;
    height: 120px;
  }