#cuadro{
  z-index: 1000;
  word-break: break-word;
  box-shadow: 0 0 16px 4px rgba(0,0,0, .3);
  position: absolute;
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 250px;
  overflow: hidden;
  opacity: 0;

}

#contiene {
  background-color: rgba(223, 20, 20, 0.9);
  padding: 20px;
}
#cabeza {
  font-size: 30px;
  margin-bottom: 10px;
}

#cuerpo {
  font-size: 13px;
}

#accion {
 background-color: rgba(255,255,255, .9);
}

#boton {
  background-color:  rgba(223, 20, 20, 0.9);
  padding: 9px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  margin: 10px 0;
  cursor: pointer;
  font-size: 13px;
}

#boton:hover{
  transition: all .2s;
  background-color: rgba(223, 20, 20, 0.9);
}
