*{
    margin: 0;
    padding: 0;
  }
  
  body{
   /* background-image: url('fondo_2.jpg') ; */

   
   background-position: center;
    background-size: cover;
    margin: auto;
 
  
  
  
  }
  
  .respuesta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
  }
  
 
  
  nav{
    background-color: #78C2AD;
    width: 100%;
    height: 12%;
    border-radius:0px 0px 10px 10px; 
  
    box-shadow: 2px 2px 2px 2px black;
    position: absolute;
    top: 1px;
  }
  
  nav h3{
    margin-top: 20px;
    width: 70%;
    text-decoration: underline;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0 black;
    
  }
  
  .img{
    width: 70%;
    border-radius:10px;
    border: solid black;
  }

  #secuencia{
      margin-top: 30%;
      
  }

  #secuencia button{
      margin-top: 80px;
  }
  #img{
    width: 120px;
    height: 120px;
  }