

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
}
#slide{
    background-image: url('fondo_app.jpg');
    
    
    background-size: cover;
}
img{
    width: 200px;
   
    border-radius: 10px;
    
}
/* ICONO DE TRASLADAR PARA ABAJO */
#icono{
    font-weight: 700;
    color: black;

}
#icono{
    position: absolute;
    z-index: 99;
    bottom: 3px;
    left: 50%;
    font-size: 40px;
    animation: efecto 1s ease infinite;

    
}
/*EFECTO DEL ICONO */
@keyframes efecto{
    0% {transform: translateY(17px);}
    25% {transform: translateY(0);}
    100% {transform: translateY(17px);}
}

/*BOTON DE SALIDA*/

.salida{
    position: fixed;
}

