html{
    width: 100%;
    height: 100%;
}

body{
    
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*  background: linear-gradient(25deg,#191970, #00BFFF);*/

  background: url("../img/fondo_2.jpg") center  no-repeat;
  margin:auto ;
}

.menu{





    max-width: 250px;
    width: 100%;
    position: relative;
}
video{
    
}

.item{
    height: 46px;
    padding: 0 20px;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 18px;
    line-height: 46px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family:'Fredoka One', cursive;
    display: block;
}
a{
    font-family:'Fredoka One', cursive; 
}

.back-menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 100%;
    background:#78C2AD;
    border-radius: 50px;
    z-index: 2;
    transition: 0.001s;
}

.item:nth-of-type(1):hover ~ .back-menu{
    transform: translateY(0);
}

.item:nth-of-type(2):hover ~ .back-menu{
    transform: translateY(calc(100% * 1));
}

.item:nth-of-type(3):hover ~ .back-menu{
    transform: translateY(calc(100% * 2));
}

.item:nth-of-type(4):hover ~ .back-menu{
    transform: translateY(calc(100% * 3));
}
.item:nth-of-type(5):hover ~ .back-menu{
    transform: translateY(calc(100% * 4));
}



.button {

  background-color: white;
  font-size: 20px;
  padding: 10px 105px;
  border: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;


  }

  .button:active
  {
    background-color: #78C2AD;
 box-shadow: 0 5px #666;
 transform: translateY(4px);
  }

  
